@font-face {
  font-family: "Computer Modern";
  src: url("assets/fonts/cmunrm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("assets/fonts/cmunbx.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("assets/fonts/cmunci.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

html, body {
  font-family: 'Computer Modern', serif;
  color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

body.home {
  background: url("assets/background.jpg") no-repeat center center fixed;
  /* background-color: rgb(71,71,71); */
  background-size: cover;
}


header {
  background: rgba(0, 0, 0,0.4); /*71, 71, 71*/
  color: #fff;
  padding: .25em;
  padding-left: 2em;
}

footer {
  background: rgba(0,0,0, 0.4); /*71, 71, 71,*/
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

nav a {
  color: #fff;
  margin-right: 1em;
  margin-left: 1em;
  text-decoration: none;
}

.column {
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

main {
  padding: 2em;
  flex: 1;
  /*color: white;
  mix-blend-mode: difference;*/
}



