@font-face {
  font-family: "Computer Modern";
  src: url("assets/fonts/cmunrm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("assets/fonts/cmunbx.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Computer Modern";
  src: url("assets/fonts/cmunci.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}





@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url("assets/fonts/Ubuntu-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}




html, body {
  font-family: 'Ubuntu', serif;
  color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* body.home { */
  /* background: url("assets/background.jpg") no-repeat center center fixed; */
  /* background-color: rgb(71,71,71); */
  /* background-size: cover; */
/* } */


header {
  background: rgba(255, 255, 255,0.4); /*71, 71, 71*/
  color: #fff;
  /* padding: 40px; */
  /* padding-left: 2em; */
  /* padding-right: 2em; */
}

footer {
  /* background: rgba(0,0,0, 0.4); 71, 71, 71, */
  background: #171B21;
  background-size: 135%;
  background-position-x: 70%;
  text-align: center;
  padding: 5em;
  /* margin-top: 2em; */
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
}

nav a:hover {
  text-decoration: underline;
}

nav a {
  color: #fff;
  /* border: 1px solid pink; */
  padding-right: 1em;
  padding-left: 1em;
  height: 40px;
  text-decoration: none;
  text-align: center;
  font-variant: small-caps;
  display: grid;
  align-items: center;
}


nav a.active {
  color: #ffb600;
}




.container {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  /* border: 2px solid cyan; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;   /* sticks to viewport */
  /* border: 1px solid greenyellow; */
  /* padding-left: 40px;
  padding-right: 40px; */
  width: 100%;       /* full width */
  color: white;
  z-index: 1000;     /* keeps it above other elements */
}

.container .item {
  /* border: 2px solid greenyellow; */
  height: 100px;
  display: flex;
  align-items: center;
}

main {
  padding: 40px;
  flex: 1;
  margin-top: 500px; /* same as background height */
  position: relative;
  background: white;
  /* background: #171B21; */
  color: #ACC8E5;
}


a:link {
  /* color: green; */
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

/* .column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} */
.row {
  display: flex;
  justify-content: space-between;
}

.column {
  /* flex: 50%; */
  display: center;
  flex-direction: column;
  justify-content: space-around;
}


.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.full-width-image {
  position: fixed;   /* stays in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;     /* set the height of your background */
  background-size: cover;
  background-color: #171B21;
  background-position: center;
  z-index: -1;  
}

.full-width-image .desc {
  /* display: flex; */
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  font-size: xx-large;
  justify-content: center;
  height: 500px;
  /* border: 2px solid greenyellow;
  color: greenyellow; */
  z-index: 1;
}

.hover-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-image>img {
  border-radius: 50%;
  filter: grayscale(100%);
}

.hover-image>img:hover {
  filter: none;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 2px solid #ccc;
  width: 180px;
}

div.gallery-item:hover {
  border: 2px solid #ffb600;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}


div.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: top;
  gap: 30px;
}

div.grid .item {
  margin: 0px;
  padding-left: 15px;
  background: white;
  color: #171B21;
  padding-right: 15px;
  border: 2px solid #ccc;
  /* max-height: 200px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grid .item:hover {
  border: 2px solid #ffb600;
  box-shadow: 0 4px 8px 0 rgba(255, 182, 0, 0.2), 0 6px 20px 0 rgba(255, 182, 0, 0.19);
}

.grid .item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center;
  justify-content: center; */
  border: 2px solid #ccc;
  width: calc(100% - 15px);
  object-fit: cover;
  /* padding: auto; */
  /* max-height: 300px; */
}

div.grid .item .title {
  text-align: center;
  font-weight: bold;
  padding: 15px;
}


.full-width-box {
  border: 2px solid #ccc;
  /* box-shadow: 10px 10px 5px 2px gray; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
}