<!-- _includes/header.html -->
<header>
  <div class="container" style="background: transparent">
    <a href="/" class="item" style="width: 220px; color: white; text-decoration: none; padding-left: 40px"><h2 style="font-variant: small-caps; text-align: left;"></h2></a> <!-- {{ site.title }} -->
    <nav class="item" style="grid-column: 2;">
      <a href="{{'index.html' | relative_url}}" class="{% if page.url == '/' %}active{% endif %}">Home</a>
      <a href="{{'research/index.html' | relative_url}}" class="{% if page.url == '/research/' %}active{% endif %}">Research</a>
      <a href="{{'tikz/index.html' | relative_url}}" class="{% if page.url == '/tikz/' %}active{% endif %}" style="font-variant: normal; font-size: medium;">$\textrm{Ti}k\textrm{Z}$</a>
      <a href="{{'astro/index.html' | relative_url}}" class="{% if page.url == '/astro/' %}active{% endif %}">Astrophotography</a>
    </nav>
    <div class="item" style="width: 220px; padding-right: 40px;"></div>
  </div>
</header>
